.shorts_page{
  .slider{
    max-width: 700px;
    cursor: grab;

    margin: 0 auto;
    padding: 25px 0;
  }
  .slider, .swiper {
    height: 100vh;
    overflow: hidden;
  }
}
.shorts_page_card {
  display: flex;
  width: 476px;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
  gap: 24px;
 
  .wrapper {
    position: relative;
    transition: all 0.3s !important;

    .main {
      cursor: default;
      width: 404px !important;
      height: 722px !important;
      flex-shrink: 0 !important;
      border-radius: 25px;
      overflow: hidden;
      position: relative;
      transition: left 0.3s ease;
      left: 0;

      &.comment-open {
        left: -300px;
      }

      .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 722px !important;
        // z-index: 2598728;
        object-fit: cover;
        video {
          width: 100% !important;
          height: 722px !important;
          // z-index: 2598728;
          object-fit: cover;
        }
      }
    }

    .shorts_page_content {
      position: absolute;
      left: calc(100% + 30px);
      bottom: 100px;
      width: 50px;

      p {
        color: rebeccapurple;
      }

      img {
        width: 20px;
        height: 20px;
      }

      .shorts_page_left {
        &.shorts_page_open {
          left: -100% !important;
        }

        .icons {
          display: flex;
          padding: 12px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 16px;
          border: 1px solid var(--Text-11, #23272e);
          cursor: pointer;
          transition: all 0.3s !important;

          &:hover {
            background-color: #0385ca !important;
          }
        }

        span {
          color: #fff;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
      }

      .shorts_page_left_dot {
        display: flex;
        gap: 10px;

        .icons {
          display: flex;
          padding: 14px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 16px;
          border: 1px solid var(--Text-11, #23272e);
          cursor: pointer;
          color: white;
        }

        button {
          display: flex;
          padding: 12px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 16px;
          border: 1px solid var(--Text-11, #23272e);
          cursor: pointer;
          color: white;
          background-color: transparent;
        }
      }
    }

    .shorts_comment {
      cursor: default;
      position: absolute;
      bottom: -100px;
      left: -410px;
      transition: left 0.3s ease;
      // z-index: 4845;
      .comment_head {
        min-width: 450px;
        width: 100%;
        height: 500px;
        background-color: #16181d;
        transition: left 0.3s ease !important;
        border-radius: 16px;
        padding: 24px;
        .comment_content_right {
          width: 100%;
        }
        .reply-form {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          input {
            width: 92%;
            padding-top: 0;
          }
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 12px;
          }
          h1 {
            text-align: left;
          }
          button {
            padding: 8px 12px;
          }
        }

        .c_heading {
          h5 {
            color: var(--Neutral-White, #fff);

            /* Poppins/24/SemiBold */
            font-family: Poppins;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 133.333% */
          }

          img {
            width: 30px;
            height: 30px;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .comments_heading {
          overflow-y: scroll;
          max-height: 400px;

          &::-webkit-scrollbar {
            width: 4px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #e0e0e4;
            border-radius: 3px;
            border: 3px solid #f0f0f0;
          }

          .comment_avatar {
            display: flex;
            width: 60px;
            height: 60px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              /* 150% */
            }
          }

          .comment_user {
            color: var(--Neutral-White, #fff);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            text-align: start;
          }
        }

        .comments {
          color: var(--Text-4, #a2a8b7);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          /* 157.143% */
          text-align: start;
        }

        .comment_footer {
          .like_btn {
            display: flex;
            padding: 14px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background-color: transparent;
            border-radius: 16px;
            border: 1px solid var(--Text-11, #23272e);
            transition: all 0.3s;

            &:hover {
              background-color: #0087cc;
            }
          }

          span {
            color: var(--Neutral-White, #fff);

            /* Poppins/16/SemiBold */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
          }

          .replay_btn {
            display: flex;
            padding: 14px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background-color: transparent;
            border-radius: 16px;
            border: 1px solid var(--Text-11, #23272e);
            transition: all 0.3s;

            &:hover {
              background-color: #0087cc;
            }
          }

          .dot_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            border: 1px solid var(--Text-11, #23272e);
            padding: 16px;
            background-color: transparent;
            color: white;
            text-align: center;
            font-size: 16px;
            transition: all 0.3s;

            &:hover {
              background-color: #0087cc;
            }
          }

          .dot_menu {
            display: flex;
            gap: 10px;

            button {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 16px;
              border: 1px solid var(--Text-11, #23272e);
              padding: 14px;
              background-color: transparent;
              color: white;
              text-align: center;
              font-size: 16px;
              transition: all 0.3s;

              &:hover {
                background-color: #0087cc !important;
              }

              img {
                width: 20px !important;
                height: 20px !important;
              }
            }
          }
        }
      }

      .comment_write {
        margin-top: 10px;
        height: 200px;
        min-width: 450px;
        width: 100%;
        background-color: #16181d;
        transition: left 0.3s ease;
        border-radius: 16px;
        padding: 24px;

        .avatar {
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        .cw_username {
          color: var(--Neutral-White, #fff);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          /* 150% */
        }

        input {
          background-color: transparent;
          outline: none;
          border: none;
          border-bottom: 1px solid #353a45;
          color: #a2a8b7;
          max-width: 347px !important;
          width: 100%;
          padding-bottom: 10px;

          &::placeholder {
            color: var(--Gray-300, #525252);

            /* Poppins/16/Medium */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
          }
        }

        button {
          display: flex;
          height: 48px;
          padding: 14px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 16px;
          background: var(--blue-blue-500, #0385ca);
          border: none;
          color: #f6f3f4;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          /* 150% */
        }
      }

      &.open {
        left: -500px;
      }

      .comment_content {

        p {
          color: #000;
        }
      }

      .sub-comment {
        .comment {
          color: var(--Text-4, #a2a8b7);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          text-align: start;
        }
        .like-btn {
          display: flex;
          padding: 14px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          background-color: transparent;
          border-radius: 16px;
          border: 1px solid var(--Text-11, #23272e);
          transition: all 0.3s;
        }
      }
    }
  }
 
}

.share-btn {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

@media only screen and (width < 1300px){
  .shorts_page_card {
    width: 90%;
    .wrapper{
      width: 100%;
      .main{
        width: 100% !important;
      }
      .shorts_page_content{
        left: initial;
        right: 25px;
        bottom: 40px;
      }
      .shorts_page_content{
        width: initial;
        border-radius: 14px;
        .shorts_page_left  {
          .icons{
            background: rgba(255, 255, 255, 0.753) !important;
            border: 0;
         }
        }
      } 
    }
  }
  .shorts_page_content.hide__buttons  .shorts_page_left {
    display: none;
  }
}

@media only screen and (width < 600px){
  
  .shorts_page_card .wrapper {
    .shorts_comment {
      .comment_head, .comment_write{
        min-width: initial;
      }
    }
    .shorts_comment.open{
      position: fixed;
      top: 30px;
      width: 100%;
    }
   
    .shorts_comment.open, .main.comment-open{
      left: 0;
    }
    .shorts_page_content.hide__buttons{
      left: 0;
    }
  }


}

@media only screen and (width < 480px){
  .shorts_page_card {
    width: 100%;
    .wrapper {
      .main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh !important;
        .video {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: initial !important;
          width: 100% !important;
          video{
            height: initial !important;
            width: 100% !important;
          }
        }
      }
    }
    
  }

}