
.v_cart{
  position: relative;
  overflow: hidden;
  perspective: 700px;
}

.cart__loader{
  background-color: var(--backgroundColor);
  backface-visibility: hidden;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  z-index: 88;
  &.hide__loader{
    transform: rotateY(180deg);
  }
  img{
    max-width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px #0b90d4;
    filter: drop-shadow(0 0 5px #0b90d4);
  }

}
.v_cart{
  .videoCard{
    transform: rotateY(180deg);
    backface-visibility: hidden;

  }
}
.videoCard {
  display: flex;
  min-height: 370px;
  width: 100%;
  position: relative;
  // padding: 10px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 12px;
  background:#141414;
  transition: all 1s ease-in-out;
  
  cursor: pointer;
  &.show__content{
    transform: rotateY(360deg);
  }
  .premiup__icon {
    position: absolute;
    top: 10px;
    left: 9px;
    display: flex;
    align-items: center;
    background: #0385CA;
    border-radius: 70px;
    padding: 0 8px;
    z-index: 777;
    transition: all .3s ease-in-out;
    p {
      height: initial;
      margin: 0 0 0 4px;
      font-size: 14px;
      color: #fff;
    }
  }
 



  .main {
    width: 100% !important;
    height: 204px !important;
    flex-shrink: 0 !important;
    border-radius: 12px;
    overflow: hidden;
    position: relative;


    .coverImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.5s ease-in-out;
      opacity: 1;
    }

    .card_logo {
      position: absolute !important;
      bottom: 10px !important;
      left: 10px !important;
      width: 119px;
      height: 32px;
      flex-shrink: 0;
      opacity: 0.6;
    }

    .card_price {

      position: absolute !important;
      top: 10px !important;
      right: 9px !important;
      width: auto;
      flex-shrink: 0;
      border-radius: 22px;
      background-color: #0b90d4;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 8px;
      z-index: 77;
      font-size: 14px;
    }


    .video_count {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #f3f4f6;
      border-radius: 8px;
      padding: 2px 6px;
      font-size: 13px;
    }

    .plyr {
      width: 100% !important;
      height: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      object-fit: cover;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      // &.visible {
      //   opacity: 1;
      // }

      // &.hidden {
      //   opacity: 0;
      // }
    }
  }

  &:hover .main {
    .coverImage {
      opacity: 1;
    }

    .plyr {
      opacity: 1 !important;
    }

    .video_count {
      opacity: 1;
    }


  }

  .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    .user_name {
      color: var(--textColor);
      opacity: .8;
      margin: 0;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }

    h6 {
      color: var(--textColor);
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      opacity: .7;

      img {
        margin-right: 4px;
      }
    }
  }

  p {
    color: var(--textColor);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    height: 45px;
    overflow-x: scroll;
    overflow-x: hidden;
    margin: 0;
  }

  .cardBottom {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;

    .card_viev_count {
      gap: 10px;

      img {
        margin-right: 5px;
      }

      span {
        color: var(--textColor);
        margin: 0 0 0 5px;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      button {
        display: flex;
        width: 44px;
        padding: 12px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 16px;
        border: 1px solid var(--primaryColor);
        background: transparent;
        cursor: pointer;

        &:hover {
          border-radius: 16px;
          box-shadow: 0 0 5px  #0b91d4bd;
        }
      }
    }
  }
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(81, 80, 80, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 50px;

  svg {
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

