header {
  width: 100%;
  background-color: var(--backgroundColor);
  display: flex;
  padding:  25px 10px 10px 10px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all .4s ease-in-out;

  .active {
    background: var(--primaryColor) !important;
  }

  .logoLeft {
    img {
      width: 184px;
      height: 48.573px;
      flex-shrink: 0;
    }
  }

  .filter {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid var(--textColor);
    color: var(--Neutral-White, #fff);
    transition: all 0.3s ease;

    &:hover {
      p {
        opacity: 1;
        visibility: visible;
      }
    }

    &:hover {
      border-radius: 16px;
      background: var(--primaryColor);
    }
  }

  .content_left {
    .upload , .ntf__button{
      padding: 10px;
      border-radius: 16px;
      border: 1px solid var(--primaryColor);
      transition: all 0.3s ease;
      background-color: transparent;
      position: relative;



      &:hover {
        border-radius: 16px;
        background: var(--primaryColor);
      }

      
    }

    .login-btn {
      display: flex;
      padding: 10px 24px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 16px;
      background: var(--blue-blue-500, #0385ca);
      cursor: pointer;
      color: #fff;
      text-decoration: none;

      img {
        width: 20px;
        height: 20px;
      }

      a {
        background-color: transparent;
        border: none;
        color: #f6f3f4;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        text-decoration: none;
        line-height: 24px;
      }
    }

    .content_left_icons {
      display: flex;
      gap: 9px;
    }
  }

  .ntf {
    position: relative;
    cursor: pointer;
    button{
      border: 0;
      background: none;
    }
  }
 

  .notification-options {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 20px;
    display: flex;
    width: 384px;
    height: auto;
    padding: 24px 24px 48px 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
    border: 1px solid var(--Text-14, #16181d);
    background: var(--backgroundColor);
    cursor: default;
  

    h1 {
      color: var(--textColor, #fff);

      /* Poppins/20/SemiBold */
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      /* 140% */
      text-align: start !important;
    }

    img {
      width: 40%;
      height: auto ;
    }
  }
}

.basket_items_count {
  position: absolute;
  left: 27px;
  bottom: 30px;
  color: var(--textColor) !important;
  background-color: var(--primaryColor);
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
}

.upload-container {
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.upload-options {
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 24px;
  border: 1px solid var(--primaryColor);
  background: var(--backgroundColor);
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin-top: 10px;
  padding: 10px;
  svg{
    margin: 0 .5rem 0 0;
  }
  a {
    display: block;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    color: var(--Text-4, #a2a8b7);

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    transition: all .4s ease-in-out;
    &:hover {
      background-color: var(--primaryColor);
      border-radius: 10px;
    }
  }
}

.sm_header {
  width: 100%;
  height: auto;
  padding: 12px 20px;

  .logo {
    max-width: 148px;
  }

  
  .sm__ntf__dropdown{
    position: relative;
    .notification-options {
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 20px;
      display: flex;
      width: 384px;
      height: auto;
      padding: 24px 24px 48px 24px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      border-radius: 20px;
      border: 1px solid var(--Text-14, #16181d);
      background: var(--backgroundColor);
      cursor: default;
      z-index: 99999;
    
  
      h1 {
        color: var(--textColor, #fff);
  
        /* Poppins/20/SemiBold */
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 140% */
        text-align: start !important;
      }
  
      img {
        width: 40%;
        height: auto ;
      }
    }

    .medium__dropdown{
      display: none;
    }
  }
  

  .top_section {
    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .open .menu {
      display: block;
    }
  }

  .bars {
    width: 25px;
  }

  .upload-options {

    left: -40px;
    z-index: 99999999;
    width: 160px;
  }

  .offcanvas-menu {
    .close_btn {
      width: 35px;
      color: #a2a8b7;
      font-size: 25px;
    }
  }

  .burger_menu {
    .upload {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      position: relative;
      width: 37px;
      height: 37px;
      border-radius: 12px;
      border: 1px solid var(--Text-11, #23272E);
      background-color: transparent;

      img {
        width: 18px;
      }
    }

    .sm_ntf{
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 13px;
      border: 1px solid var(--Text-11, #23272E);
      background-color: transparent;
    }

    .user_profile {
      display: flex;
      padding: 14px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 15px;

      background: var(--blue-blue-500, #0385CA);
      border: none;

      img {
        width: 11.667px;
        height: 15px;
        flex-shrink: 0;
      }
    }

    .sm_login {
      display: flex;
      padding: 10px 15px;
      justify-content: center;
      align-items: center;
      gap: 5px;
      border-radius: 16px;
      background: var(--blue-blue-500, #0385CA);
      color: #F6F3F4;

      /* Poppins/16/SemiBold */
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      /* 150% */
    }

    .profile_menu_dropdown {
      .upload {
        background: var(--blue-blue-500, #0385CA);
        border: none;
        svg, circle, ellipse{
          stroke: #fff;
        }
      }
    }
  }

  .filter {
    border-radius: 16px;
    border: 1px solid var(--primaryColor);
    display: flex;
    padding: 11px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    margin: 0 5px 0 0;
    &:hover {
      border-radius: 16px;
      background: var(--primaryColor);
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.top_section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .offcanvas-menu {
    padding: 20px 10px 0 10px;
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: var(--backgroundColor);
    transition: left 0.3s ease;
    z-index: 5551545415435;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }
}

.open .offcanvas-menu {
  left: 0;
}

.toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.call__modal {

  text-align: center;

  h3 {
    font-size: clamp(20px, 3vw, 26px);
    color: var(--textColor);
  }

  .call__btns {
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    margin: 35px 0 0 0;

    button {
      background-color: transparent;
      border: 0;
      outline: 0;
      border-radius: 50%;
      transition: all .4s ease-in-out;

      &.decline__call:hover {
        box-shadow: 0 0 5px 3px #ce4646;
      }

      &.accept__call:hover {
        box-shadow: 0 0 5px 3px #51fb5c;
      }

      .video__svg {
        background-color: #51fb5c;
        border-radius: 50%;
      }
    }
  }


}

.call__modal {
  .ant-modal-content {
    animation-name: boxShadowAnimate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes boxShadowAnimate {
  0% {
    box-shadow: 0 0 8px 4px transparent;
  }

  50% {
    box-shadow: 0 0 8px 4px var(--textColor);
  }

  100% {
    box-shadow: 0 0 8px 4px transparent;
  }
}

.fixed-menu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 99;
  border-radius: 10px;
  background-color: #0f0f0f;
  padding: 10px;
  display: none;

  .basket,
  .upload {
    padding: 10px 0;
    position: relative;
    border: 1px solid #23272E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
  }

  .sm_ntf {
    background-color: transparent;
    border: none;
    outline: none;
    width: 45px;
    height: 40px;
    padding: 10px 0;
    position: relative;
    border: 1px solid #23272E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
  }
}

@media (max-width:768px) {

  .sm_header .sm_ntf,
  .sm_header .basket {
    display: none !important;
  }
  .tablet__menu{
   & > a{
      width: 37px;
      height: 37px;
    }
  }
  .mob-search {
    .upload {
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;
      border-radius: 12px;
      border: 1px solid var(--Text-11, #23272E);
      background-color: transparent;
    }

    .filter {
      width: 37px;
      height: 37px;
      border-radius: 12px;

      img {
        width: 18px;
      }
    }

    .sm_ntf {
      display: flex;
      padding: 11px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 37px;
      margin: 0 0 0 5px;
      height: 37px;
      border-radius: 12px;
      border: 1px solid var(--Text-11, #23272E);
      background-color: transparent;

      img {
        width: 18px;
      }

    }

    .search-wrapper {
      width: 100% !important;
      margin-right: 10px;
    }

    .sm_ntf,
    .basket {
      display: flex !important;
    }
  }

  .burger_menu {
    justify-content: flex-end;

    .search-wrapper {
      display: none;
    }
  }
}

@media(max-width:576px) {

  .upload-options {
    border-radius: 16px;
    padding: 5px;
    a{
      font-size: 15px;
      padding: 8px;
      img{
        width: 22px;
      }
    }
  }
}

@media (max-width:540px) {
  .sm_header {
    .burger_menu {
      .sm_login {
        font-size: 14px;
        padding: 9px 11px;
        line-height: 20px;
        gap: 2px;
      }
    }
  }

  .sm_header {
    .offcanvas-menu {
      width: 75%;
    }

    .logo {
      max-width: 120px;
    }


  }
}


@media (max-width:1400px) {
  header {

    .basket_items_count {
      width: 23px;
      height: 23px;
      font-size: 12px;
    }
  }

  header .content_left .upload {
    border-radius: 12px;

    img {
      width: 18px;
    }
  }
}

@media (max-width:576px) {
  .fixed-menu {
    display: block;
  }

  .sm_header .sm__ntf__dropdown .notification-options{
    width: 300px;
    .ntf__item {
      .user__avatar img{
        width: 30px;
        height: 30px;
      }
    }
    .ntf__text{
      h3{
        font-size: 14px;

      }
    }
    .ntf__video {
      img{
        width: 70px;
      }
    }
  }



  .profile_menu_dropdown .upload {
    display: flex !important;
    padding: 8px !important;
    // border-radius: 10px !important;
    width: 42px;
    height: 42px;
  }

  .basket_items_count {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }


}