.channelCard {
  width: 100%;
  height: 375px;
  border-radius: 12px;
  background: var(--Gray-600, #141414);
  display: flex;
  padding: 12px 12px 24px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  overflow: hidden;

  .img-top {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.5s;
    position: relative;
  }

  .opacity-img {
    img {
      width: 100px;
      height: 100px;
      border-radius: 12px;
      position: absolute;
      top: 50px;
      left: 50px;
      opacity: 0;
      transition: 0.5s;
    }
  }

  &:hover {
    .img-top {
      height: 35%;
    }

    .channelCard-context {
      bottom: -5px;
    }

    .opacity-img img {
      opacity: 1;
    }
  }

  .channelCard-context {
    position: absolute;
    bottom: -20%;
    width: 100%;
    padding: 10px;
    transition: 0.5s;

    .username {
      color: var(--Text-1, #f3f4f6);

      /* Poppins/20/SemiBold */
      font-family: Poppins;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      /* 140% */

      &:hover{
        cursor: pointer;
      }
    }

    p {
      color: var(--Text-4, #a2a8b7);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      height: 90px;
      overflow-x: scroll;
    overflow-x: hidden;
    }

    span {
      color: var(--Text-3, #C5C9D3);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      /* 150% */
    }

    .avatar-group {
      .hidden-avatars {
        margin-left: 25px;
      }

      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #0f0f0f;
        margin-right: -20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

    }

    .subs-button {
      padding: 12px 24px;
      border-radius: 16px;
      background: var(--blue-blue-500, #0385CA);
      color: #F6F3F4;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      min-width: 151px;
      margin-right: 10px;
      border: none;
    }

    .unsubs-button {
      background-color: transparent;
      border: 1px solid var(--Text-11, #23272E);
      color: var(--Text-4, #A2A8B7);
    }
  }
}