.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .left {
    width: 40%;
    height: 100%;
    background-image: url("../../assets/images/authBg.png");
    background-position: center;
    background-size: cover;
  }

  .right {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {
      width: 184px;
      height: 50.573px;
    }

    .right-content {
      text-align: center;

      h5 {
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        color: #f6f3f4; //$cultured_white
      }

      p {
        color: var(--Gray-200, #7a7a7a);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }

      span {
        a {
          color: var(--blue-blue-500, #0385ca);
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          text-decoration: none;
        }
      }
    }

    form {
      padding-top: 25px;

      .wrapper {
        width: 450px;
        padding: 30px;

        .input-data {
          height: 50px;
          width: 100%;
          position: relative ;
          
          input {
            height: 100%;
            width: 100%;
            border: none;
            border: 1px solid var(--Gray-400, #292929);
            background-color: transparent;
            border-radius: 16px;
            outline: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: white;
            padding-left: 15px;
          }

          input:focus~label,
          input:valid~label {
            transform: translateY(-40px);
            color: white;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }

          label {
            position: absolute;
            bottom: 13px;
            color: var(--Gray-200, #7a7a7a);
            left: 0;
            pointer-events: none;
            transition: all 0.3s ease;
            padding-left: 15px;
          }
        }

        .form-remember {
          label {
            color: var(--Gray-200, #7a7a7a);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }

          p {
            color: var(--Gray-200, #7a7a7a);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;

            a {
              text-decoration: none;
              color: var(--Gray-200, #7a7a7a);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
            }
          }

          .checkbox-container {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .checkbox-container input[type="checkbox"] {
            display: none;
          }

          .checkbox-container .checkmark {
            width: 20px;
            height: 20px;
            border: 2px solid var(--Gray-200, #7a7a7a);
            border-radius: 4px;
            display: inline-block;
            position: relative;
          }

          .checkbox-container input[type="checkbox"]:checked+.checkmark:after {
            content: "";
            position: absolute;
            top: 1px;
            left: 5px;
            width: 6px;
            height: 10px;
            border: solid var(--Gray-200, #7a7a7a);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }

          .checkbox-container input[type="checkbox"]:focus+.checkmark {
            border-color: white;
          }
        }

        .password-toggle {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          cursor: pointer;
        }

        button {
          width: 100%;
          border-radius: 16px;
          background: var(--blue-blue-500, #0385ca);
          border: none;
          color: white;
          padding: 12px 24px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}

@media (max-width:"673px") {

  .login {
    .left {
      display: none;
    }

    .right {
      width: 100% !important;

      form {
        width: 100%;

        .wrapper {
          width: 100% !important;
          padding: 10px;

          .form-remember {
            gap: 15px;

            label {
              font-size: 13px;
            }

            p {
              a {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

}

.soc__login{
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  & > div{
    margin: 0 5px;
  }
}

.fb__login, .google__login{
  width: max-content;
  align-items: center;
button {
  width: initial;
  font-family: inherit;
  font-size: 18px;
  background: rgb(24,119,240);
  background: linear-gradient(90deg, rgba(24,119,240,1) 0%, rgba(29,37,253,1) 50%, rgba(11,9,140,1) 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: grid;
  grid-template-columns: auto 0fr;
  align-items: center;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
 
}

button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 0 7px 2px #1877f0;
  grid-template-columns: auto 1fr;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

button svg {
  transition: all 0.3s;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
  margin: 0;
}

button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 3px;
  animation: bounce 1.2s ease-in-out;
}

.text {
  overflow: hidden;
}

@keyframes bounce {
  0% {
    translate: 0;
  }

  50% {
    translate: 0 -8px;
  }

  100% {
    translate: 0;
  }
}


}
.google__login{
   button{
    background: #19242b !important;
    &:hover{
      box-shadow:  0 0 10px 2px #19242b ;
    }
  }
  .svg-wrapper{
    background-color: #fff !important;
  }
}