.balance {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .heading_text {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      color: #fff;

      /* Poppins/24/SemiBold */
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 133.333% */
    }
    button {
      display: flex;
      padding: 12px 14px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 16px;
      background: var(--blue-blue-500, #0385ca);
      color: #fff;
      outline: none;
      border: none;
    }
  }
}
