.streams {
    padding: 0 48px;
    color: #fff;

    .stream-container {
        height: 100vh;
    }
    .other__streams{
        display: flex;
        margin: 48px 0 0 0;
        gap: 24px;
    }
    .other__stream{
        position: relative;
        width: calc((100% - 24px * 3) / 4);
        min-height: 140px;
        cursor: pointer;
        img{
            max-height: 140px;
            border-radius: 24px;
            position: static;
        }

        .live__icon{
            position: absolute;
            top: 12px;
            left: 12px;   
        }
        .stream__desc{
            padding: 12px;
        }
        h5{
            font-size: 16px;
            margin: 0 0 12px 0;
            &::first-letter{
                text-transform: uppercase;
            }
        }
        .user__info{
            display: flex;
            align-items: center;
            h6{
                font-size: 14px;
                margin: 0;
            }
            img{
                max-width: 24px;
                height: 24px;
                object-fit: cover;
                border-radius: 50%;
                margin: 0 12px 0 0;
            }
        }
    }

    .stream__top__title {
        margin: 54px 0 24px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
       
        a{
            color: #fff;
            padding: 12px 24px;
            background-color: #0385CA;
            border-radius: 16px;
        }

        h1 {
            font-size: clamp(24px, 3vw, 28px);
        }
    }
    .live__icon {
        svg{
            margin:   0 0 2px 0;
        }
        background: #C00;
        border-radius: 24px;
        display: flex;
        align-items: center;
        padding: 6px 8px 4px 8px;

        p {
            font-size: 12px;
            color: #fff;
            margin: 0 0 0 4px;
        }
    }

    .active__stream {
        background-color: #828282;
        min-height: 350px;
        border-radius: 36px;
        position: relative;
        display: flex;
        align-items: end;
        overflow: hidden;
    }
    .stream{
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        z-index: 4444;
        .zego_model_parent{
            position: relative;
            z-index: 6666;
            & > div:first-child{
                height: initial;
                position: absolute;
                left: 24px;
                top: 24px;
                z-index: 5555;
                padding: 0;
                width: max-content;
                background: none;
            }
            & > div:nth-child(2){
                padding: 0;
            }
            & > div:nth-child(3){
                height: initial;
                max-height: 0;
                padding: 0 24px;
                overflow: hidden;
                transition: all .4s ease-in-out;
                & > div {
                    height: initial;
                }
            }

            &:hover > div:nth-child(3){
                max-height: 100px;
                padding: 15px 24px;
            }
        }
    }

    .stream__info {
        position: absolute;
        top: 24px;
        left: 24px;
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 320px;

        

        .stream__name{
            &::first-letter{
                text-transform: uppercase;
            }
            margin: 16px 0;
            font-size: 20px;
        }

        .stream__host{
            display: flex;
            align-items: center;
            h4{
                font-size: 14px;
                margin: 0;
            }
            img{
                width: 32px;
                border-radius: 50%;
                margin: 0 12px 0 0;
            }
        }

       
    }
    .stream__tools{
        padding: 0  24px 24px;
        display: flex;
        justify-content: space-between;
        flex: 1;
        button{
            background: none;
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.36);
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        position: relative;
        z-index: 5555;
        &.hide__tools{
            z-index: 4;
        }
    }

    .cover__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

}