.profile_section {
  width: 100%;
  height: auto;
  .profile_bg_image {
    width: 100%;
    height: 170px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
  }
  .profile_info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transform: translateY(-45px);
    padding: 10px 0 0 50px;
    gap: 5px 20px;
    .profile_img_content {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background-position: center;
      background-size: cover;
    }
    .profile_text_content {
      .profile_name p {
        color: var(--textColor);

        /* Poppins/24/SemiBold */
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
        
      }
      h6 {
        color: var(--blue-blue-500, #0385ca);

        /* Poppins/18/Medium */
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 144.444% */
      }
      p {
        color: var(--textColor);
        opacity: .7;

        /* Poppins/18/Regular */
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 144.444% */
        span {
          color: var(--textColor);

          /* Poppins/18/Medium */
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 144.444% */
          margin-right: 4px;
        }
      }
    }
  }
}


@media only screen and (width < 480px) {
  .profile_bg_image{
    height: 140px;
  }
  .profile_section{
    .profile_info{
      padding: 0 0 0 5px;
      .profile_text_content {
        .profile_name p {
          font-size: 18px;
        }
      h6{
        font-size: 16px;
        line-height: 20px;
      }
      p{
        font-size: 14px;
      }
      }
    }
    .profile_info .profile_img_content{
      width: 130px;
      height: 130px;
      
    }
  }
}