.channels_videocard {
    display: flex;
    height: 380px;
    width: 100%;
    padding: 10px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 24px;
    background: var(--Gray-600, #141414);

    .main {
        width: 100%;
        height: 184px;
        flex-shrink: 0;
        border-radius: 24px;
        background: rgba(0, 0, 0, 0.24);
    }

    .heading {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: var(--Text-3, #c5c9d3);
            margin: 0;
            /* Poppins/14/Medium */
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            /* 157.143% */
        }

        h6 {
            color: var(--Text-3, #c5c9d3);

            /* Poppins/14/Medium */
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;

            /* 157.143% */
            img {
                margin-right: 4px;
            }
        }

    }

    p {
        color: var(--Text-1, #f3f4f6);
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 140% */
        height: 58px;
        margin: 0;
    }

    .cardBottom {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button{
            background-color: transparent;
            border: none;
        }

        span {
            color: var(--Text-1, #f3f4f6);

            /* Poppins/24/SemiBold */
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 133.333% */
        }

        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            img {
                display: flex;
                width: 44px;
                padding: 12px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 16px;
                border: 1px solid var(--Gray-400, #292929);
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                    border-radius: 16px;
                    background: var(--Gray-400, #292929);
                }
            }
        }
    }
}