.b_home {
  width: 100%;
  height: auto;
  background-color: #0F0F0F;
  // #0F0F0F
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 10px 0 10px;
}
