.settings-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  .content{
    .input-data{
      margin: 0 0 12px 0;
    }
  }
  .settings_sidebar {
    width: 28%;
    height: 100%;
    background: var(--Background-Color, #0f0f0f);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    ul{
      padding: 0;
    }
    h1 {
      color: #fff;
      padding-left: 24px;
      /* Poppins/28/SemiBold */
      font-family: Poppins;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px; /* 128.571% */
    }

    li {
      color: var(--Text-4, #a2a8b7);

      /* Poppins/16/SemiBold */
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      list-style-type: none;
      line-height: 24px; /* 150% */
      padding: 12px 24px;
      display: flex;
      align-items: flex-start;
      gap: 14px;
      border-radius: 12px;
      align-self: stretch;
      transition: all 0.4s ease;
      cursor: pointer;
      margin: 7px 0;
      &:hover {
        background: var(--Text-13, #1b1d23);
      }
    }
    .active {
        background: var(--Text-13, #1b1d23);
      }
  }
  .content {
    width: 70%;
    height: auto;
    border-radius: 24px;
    background: var(--Text-15, #121317);
    padding: 30px 35px;
  }
}


@media only screen and (width < 640px) {
  .settings-container{
    flex-direction: column;
    .settings_sidebar, .content{
      width: 100%;
      padding: 30px 17px;
    }
    .settings_sidebar {
      ul{
        display: flex;
        align-items: center;
        overflow-x: auto;
        li{
          align-self: center;
          white-space: nowrap;
        }
      }
    }
  }
  .general_settings .heading_text, .profile_information .heading_text, .privacy .heading_text, .password_change .heading_text, .balance .heading_text, .delete_acc .heading_text{
    h1{
      font-weight: 400;
      font-size: 22px;
    }
    button{
      font-size: 14px;
    }
  }
}



@media only screen and (width < 480px) {
  .password_change .reset_pass_form, .delete_acc .reset_pass_form  {
    
      width: 100%;
    
  }
}
