.payment {
    width: 100%;
    height: auto;
    padding: 10px 0;

    .payment_head {
        img {
            width: 28px;
            height: 28px;
        }

        a {
            color: #FFF;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
            text-decoration: none;
        }
    }

    .contact_info {
        h4 {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            /* 133.333% */
        }


    }

    .payment-form {
        form {
            label {
                color: var(--Neutral-White, #FFF);
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                /* 150% */
            }

            input {
                border-radius: 16px;
                border: 1px solid var(--Gray-400, #292929);
                padding: 12px 20px;
                background-color: transparent;
                color: var(--Neutral-White, #FFF);
                outline: none;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                /* 150% */
            }
        }
    }

    .payment_method {
        h4 {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            /* 133.333% */
        }
    }

    .payment_info {
        label {
            color: var(--Neutral-White, #FFF);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            /* 150% */
        }

        input {
            border-radius: 16px;
            border: 1px solid var(--Gray-400, #292929);
            padding: 12px 20px;
            background-color: transparent;
            color: var(--Neutral-White, #FFF);
            outline: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
        }
    }

    .payment-check {
        padding: 24px;
        border-radius: 24px;
        background: var(--Text-14, #16181D);

        p {
            color: var(--Gray-200, #7A7A7A);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 150% */

            span {
                color: var(--Neutral-White, #FFF);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }

    .paymnet_summary{
        border-radius: 24px;
        background: var(--Text-14, #16181D);
        padding: 24px;

        h3 {
            overflow: hidden;
            color: var(--Text-1, #F3F4F6);
            text-overflow: ellipsis;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            /* 133.333% */
        }

        p {
            color: var(--Text-2, #D1D4DB);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
            width: 200px;
        }

        span {
            color: var(--Text-2, #D1D4DB);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
        }

        hr {
            height: 1px;
            background-color: #23272E;
        }

        .total_payment {
            p {
                overflow: hidden;
                color: var(--Text-3, #C5C9D3);
                text-overflow: ellipsis;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                /* 140% */
            }

            span {
                color: var(--Neutral-White, #FFF);
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
                /* 133.333% */
            }

        }

        a {
            padding: 14px;
            border: none;
            border-radius: 16px;
            background: var(--blue-blue-500, #0385CA);
            color: #F6F3F4;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            /* 150% */
            width: 100%;
            display: block;
            text-align: center;
            text-decoration: none;
        }
    }

}