.popular_channels_page {
    width: 100%;
    height: auto;
    padding: 10px;

    h4 {
        color: var(--textColor);
        /* Poppins/28/Medium */
        font-family: Poppins;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        /* 128.571% */
    }

    .sort_btn {
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 16px;
        border: 1px solid var(--Text-11, #23272E);
        color: var(--Neutral-White, #FFF);
        background-color: transparent;
        /* Poppins/16/SemiBold */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 150% */
    }
}
@media (max-width:540px) {
  .popular_channels_page {
    h4{
      font-size: 20px;
    }
    .custom-select{
      .ant-select{
        width: 150px !important;
      }
    }
  }
}
@media (max-width:370px) {
  .popular_channels_page {
    h4{
      font-size: 15px;
    }
  }
  
}