.all_channels_page{
    width: 100%;
    height: auto;
    padding: 10px;

    h4 {
        color: #fff;
        /* Poppins/28/Medium */
        font-family: Poppins;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        /* 128.571% */
    }


   
}


@media (max-width:540px) {
  .all_channels_page {
    h4{
      font-size: 20px;
    }
    .custom-select{
      .ant-select{
        width: 150px !important;
      }
    }
  }
}


@media (max-width:370px) {
  .all_channels_page {
    h4{
      font-size: 15px;
    }
  }
  
}