.my_about_profile {
    width: 100%;
    height: auto;
    padding: 12px 10px;

    h3 {
        color: var(--textColor);
        /* Poppins/28/Medium */
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        /* 128.571% */


    }

    p {
        width: 639px;
        color: var(--Text-4, #A2A8B7);
        /* Poppins/16/Regular */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }

    .my_about_info {
        h1 {
            color: var(--textColor);
            /* Poppins/28/Medium */
            font-family: Poppins;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
            /* 128.571% */
        }

        span {
            color: var(--textColor);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
        }
    }
}
@media(max-width:576px){
    .my_about_profile {
        .my_about_info {
        h1{
            font-size: 18px;
        }
        }
    }
}