.shorts_page {
  .slider {
    max-width: 1100px;
    cursor: grab;

    margin: 0 auto;
    padding: 25px 0;
  }

  .slider,
  .swiper {
    height: 100vh;
    overflow: hidden;
  }
}

.ant-modal-body .short__info {

  h3 {
    margin: 0 0 15px 0;
    color: var(--textColor);
  }

  h4 {
    font-size: 16px;
    color: var(--textColor);
    opacity: .8;
  }
}

.shorts_page_card {
  display: flex;
  width: 476px;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
  gap: 24px;

  .wrapper {
    position: relative;
    transition: all 0.3s !important;

    .main {
      cursor: default;
      width: 404px !important;
      height: 100vh !important;
      flex-shrink: 0 !important;
      border-radius: 25px;
      overflow: hidden;
      position: relative;
      transition: left 0.3s ease;
      left: 0;

      &.comment-open {
        left: -300px;
      }

      .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100vh !important;
        // z-index: 2598728;
        object-fit: cover;

        video {
          width: 100% !important;
          height: 90vh !important;
          border-radius: 14px;
          object-fit: cover;
        }
      }

      .sp_desc {
        position: absolute;
        bottom: 80px;
        left: 10px;

        // z-index: 999;
        .short__inform {
          display: flex;
          flex-direction: column;
          align-items: start;

          position: relative;
          padding: 10px 5px;
          border-radius: 8px;
          overflow: hidden;
          z-index: 1;

          &>* {
            position: relative;
            z-index: 2;
          }

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--primaryColor);
            left: 0;
            top: 0;
            z-index: 1;
            opacity: .6;
          }

        }

        p {


          color: var(--textColor);
          font-size: 13px;
          margin: 0 0 15px 0;

          button {
            background-color: transparent;
            color: var(--textColor);
            opacity: .7;
            border: none;
            transition: all .3s;

            &:hover {
              color: #0087CC;
            }
          }
        }

        span {


          color: white;
          background-color: #0087CC;
          font-size: 13px;
          padding: 5px 20px;
          border-radius: 15px;
        }

      }


    }


    .shorts_page_content {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: end;
      left: calc(100% + 30px);
      top: 0;
      height: 90%;
      width: 50px;

      p {
        color: rebeccapurple;
      }

      img {
        width: 20px;
        height: 20px;
      }

      .shorts_page_left {

        &.shorts_page_open {
          left: -100% !important;
        }

        div.pb-3:last-of-type {
          padding: 0 !important;
        }

        .icons {
          display: flex;
          padding: 12px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 16px;
          border: 1px solid var(--Text-11, #23272e);
          cursor: pointer;
          transition: all 0.3s !important;

          button {
            border: 0;
            background: none;
          }

          &:hover {
            background-color: #0385ca !important;
          }
        }

        span {
          color: var(--textColor);
          opacity: .7;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
      }

      .shorts_page_left_dot {
        display: flex;
        gap: 10px;

        .icons {
          display: flex;
          padding: 14px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 16px;
          border: 1px solid var(--Text-11, #23272e);
          cursor: pointer;
          color: var(--textColor);

        }

        button {
          display: flex;
          padding: 12px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 16px;
          border: 1px solid var(--Text-11, #23272e);
          cursor: pointer;
          color: white;
          background-color: transparent;
        }
      }
    }

    .shorts_comment {
      cursor: default;
      position: absolute;
      display: flex;
      left: -410px;
      top: 0;
      height: 100%;
      transition: left 0.3s ease;

      // z-index: 4845;
      .comment_head {
        overflow: hidden;
        min-width: 450px;
        width: 100%;
        height: 100%;
        min-height: 150px;
        max-height: 500px;
        background-color: var(--primaryColor);
        transition: left 0.3s ease !important;
        border-radius: 16px;
        padding: 24px;

        .comment_content_right {
          width: 100%;

        }

        .reply-form {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          input {
            width: 92%;
            padding-top: 0;
            color: var(--textColor);
          }

          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 8px;
          }

          h1 {
            text-align: left;
          }

          button {
            padding: 6px 10px;
          }
        }

        .c_heading {
          h5 {
            color: var(--textColor);

            /* Poppins/24/SemiBold */
            font-family: Poppins;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 133.333% */
          }

          img {
            width: 30px;
            height: 30px;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .comments_heading {
          overflow-y: auto;
          max-height: 300px;
          height: 100%;

          .comments_list {
            &:last-child {
              margin-bottom: 30px;
            }
          }

          .reply-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            color: #0385ca;
            background-color: transparent;
            border: none;
            margin-bottom: 10px;
            outline: none;
            font-size: 14px;
            font-weight: 500;

            border-radius: 20px;
            transition: .1s ease;

            &.active {
              svg {
                transform: rotate(180deg);
              }
            }

            &:hover {
              color: var(--textColor);

            }
          }

          &::-webkit-scrollbar {
            width: 4px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #e0e0e4;
            border-radius: 3px;
            border: 3px solid #f0f0f0;
          }

          .comment_avatar {
            display: flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              /* 150% */
            }
          }

          .comment_user {
            color: var(--textColor);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            text-align: start;
          }
        }

        .comments {
          color: var(--Text-4, #a2a8b7);
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
          /* 157.143% */
          text-align: start;
        }

        .comment_footer {
          .like_btn {
            display: flex;
            padding: 14px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background-color: transparent;
            border-radius: 16px;
            border: 1px solid var(--Text-11, #23272e);
            transition: all 0.3s;

            &:hover {
              background-color: #0087cc;
            }
          }

          span {
            color: var(--textColor);

            /* Poppins/16/SemiBold */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
          }

          .replay_btn {
            display: flex;
            padding: 14px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background-color: transparent;
            border-radius: 16px;
            border: 1px solid var(--Text-11, #23272e);
            transition: all 0.3s;

            &:hover {
              background-color: #0087cc;
            }
          }

          .dot_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            border: 1px solid var(--Text-11, #23272e);
            padding: 16px;
            background-color: transparent;
            color: var(--textColor);
            text-align: center;
            font-size: 16px;
            transition: all 0.3s;

            &:hover {
              background-color: #0087cc;
            }
          }

          .dot_menu {
            display: flex;
            gap: 10px;

            button {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 16px;
              border: 1px solid var(--Text-11, #23272e);
              padding: 14px;
              background-color: transparent;
              color: white;
              text-align: center;
              font-size: 16px;
              transition: all 0.3s;

              &:hover {
                background-color: #0087cc !important;
              }

              img {
                width: 20px !important;
                height: 20px !important;
              }
            }
          }
        }
      }

      .close_btn {
        border: 0;
        background: none;
      }

      .comment_write {
        margin-top: 10px;
        height: 100%;
        max-height: 200px;
        min-width: 450px;
        width: 100%;
        background-color: var(--primaryColor);
        transition: left 0.3s ease;
        border-radius: 16px;
        padding: 24px;

        .avatar {
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .cw_username {
          color: var(--textColor);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          /* 150% */
        }

        input {
          background-color: transparent;
          outline: none;
          border: none;
          border-bottom: 1px solid #353a45;
          color: var(--textColor);
          max-width: 347px !important;
          width: 100%;
          padding-bottom: 10px;

          &::placeholder {
            color: var(--Gray-300, #525252);

            /* Poppins/16/Medium */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
          }
        }

        button {
          display: flex;
          height: 48px;
          padding: 14px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 16px;
          background: var(--blue-blue-500, #0385ca);
          border: none;
          color: #f6f3f4;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          /* 150% */
        }
      }

      &.open {
        left: -300px;
      }

      .comment_content {
        width: 100%;
        display: flex;
        flex-direction: column;

        p {
          color: #000;
        }
      }

      .sub-comment {
        .comment_avatar {
          width: 30px !important;
          height: 30px !important;

          img {
            width: 30px !important;
            height: 30px !important;
          }
        }

        .comment_footer span {
          font-size: 14px !important;
        }

        .comment_user {
          font-size: 15px !important;
          line-height: 12px !important;
        }

        .comment {
          color: var(--Text-4, #a2a8b7);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          text-align: start;
        }

        .dot_btn,
        .drop_menu button {
          padding: 8px !important;
          border-radius: 10px !important;

          img {
            width: 15px !important;
          }
        }

        .like-btn {
          display: flex;
          padding: 8px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          background-color: transparent;
          border-radius: 10px;
          border: 1px solid var(--Text-11, #23272e);
          transition: all 0.3s;

          &:hover {
            background-color: #0087CC;
          }

          img {
            width: 15px;
          }
        }
      }
    }
  }


}

.modal-delete {

  .ant-modal-content {
    background-color: #0F0F0F;

    .ant-modal-header {
      background-color: #0F0F0F;

      .ant-modal-title {
        color: white;
        font-weight: 400;
      }
    }

    .ant-modal-close-x {
      color: white;
    }

    .ant-modal-body {
      color: white;
      font-weight: 400;
    }
  }
}

.share-btn {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

@media only screen and (width < 1300px) {
  .shorts_page_card {
    width: 90%;

    .wrapper {
      width: 100%;

      .shorts_comment {
        &.open {
          left: -500px;
        }
      }

      .main {
        width: 100% !important;
      }

      .shorts_page_content {
        left: initial;
        right: 25px;
        bottom: 40px;
        top: 0;
      }

      .shorts_page_content {
        width: initial;
        border-radius: 14px;

        .shorts_page_left {
          .icons {
            background: #ffffff4d !important;
            border: 0;
          }
        }
      }
    }
  }

}

.comment-open .shorts_page_left {
  display: none;
}

@media only screen and (width < 600px) {
  .shorts_page_card .wrapper .shorts_comment .comment_content {
    max-height: 88vh;
    position: relative;
    z-index: 999;
  }

  .shorts_page_left {
    position: relative;
    padding: 10px 5px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;

    &>* {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--primaryColor);
      left: 0;
      top: 0;
      z-index: 1;
      opacity: .6;
    }
  }

  .comment-open .sp_desc {
    display: none !important;
  }

  .shorts_page_card .wrapper {
    .shorts_comment {

      .comment_head,
      .comment_write {
        min-width: initial;
      }
    }

    .shorts_comment.open {
      position: fixed;
      top: 40px;
      width: 100%;
    }

    .shorts_comment.open,
    .main.comment-open {
      left: 0;

    }

    .shorts_page_content.hide__buttons {
      left: 0;
    }
  }


}

@media only screen and (width < 480px) {
  .shorts_page_card {
    width: 100%;

    .wrapper {
      .main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh !important;

        .video {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: initial !important;
          width: 100% !important;

          video {
            height: initial !important;
            width: 90% !important;
          }
        }
      }
    }

  }

  .shorts_page_card {
    .wrapper {
      .shorts_comment {
        .comment_head {
          padding: 12px;
        }
      }
    }
  }
}