@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("@mantine/core/styles.css");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
  transition: all .4s ease-in-out;

}

body {
  background-color: var(--backgroundColor) !important;
  // transition: all .3s ease;
}

main {
  width: 100%;
}

a {
  text-decoration: none !important;
}

.none {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #a2a8b7;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #a2a8b7;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}



.ant-select-dropdown {
  background-color: var(--backgroundColor) !important;
  color: white !important;
  border: 1px solid #292929;
}

.ant-select-item-option-content {
  color: white;

}

.ant-select-item-option-active {
  color: black !important;
  background-color: black !important;
}


:where(.css-dev-only-do-not-override-1okl62o).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: #000000e0;
  font-weight: 600;
  background-color: black;
}


.error {
  color: red;
  font-size: 14px;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.5s ease forwards;
  margin: 6px 0;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


/* style.scss */

@keyframes likeAnimation {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(1.1);
  }
}

.icons.animated img {
  animation: likeAnimation 0.5s ease-in-out;
}


// .Toastify__toast-theme--light{
//   background-color: #0087CC;
// }

// .Toastify__toast-icon > div:last-child{
//   color: white;
// }


// .Toastify__toast-icon svg{

// }

// .toast-container-custom{
//   // background-color: #0087CC;
//   color: white;
// }


.toast-container-custom {
  .Toastify__toast {

    background-color: #0087CC;
  }

  .Toastify__toast-body {
    svg {

      fill: white
    }

    div:last-child {
      color: white;
    }


  }

  .Toastify__progress-bar-theme--light {
    background-color: white;
  }

  .Toastify__close-button{
    svg{
      fill: white;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}



/*----Light Theme------*/

.light__theme {
  .menu-section .menu .menu-item span{
    color: #000
  }
 .bars{
  path{
    fill: #A2A8B7 !important;
  }
 }
  path#Subtract{
    fill: #A2A8B7 !important;
  }
 .sidebar{
  border-color: #eaeaea;
 }
 .b_categories{
  button{
    border: 0;
  }
 }
 .search-wrapper{
  .search_img{
    path{
      fill: #4b4b4b
    }
  }
  .search{
    border: 0;
    input{
      color: #000;
    }
    input::placeholder{
      color: #6c6c6c;
    }
  }
  .microphone{
    *{
      transition: all .4s ease-in-out;
    }
    path{
      stroke: #4b4b4b;
    }
    &:hover{
      background: #e1e1e1;
    }
  }

 }
 .content_left_icons, .tablet__menu, .filter{
  svg,path, circle, ellipse{
    stroke: #4b4b4b;
  }
  .upload-options{
    svg,path, circle, ellipse{
      stroke: none;
    }
  }
 }
 .videoCard, .channelCard{
  background-color: #f2f2f2aa;
 }
 .upload__video__form{
  .ant-progress-inner, .ant-progress-text {
    background: #9c9c9c;
    color: #fff !important;

  }
 }
 .upload_video {
  .select_form{
    .input_data{
      background-color: #dadada;
     }
   }
 }

 
 .history-btn{
  svg, path{
    fill: transparent;
    stroke: #4b4b4b;
  }
 }
 .pb-3{

  .stroke__change{
    svg, path{
      stroke: #626262;
    }
  }

  .fill__change{
    svg, path{
      fill: #626262;
    }
  }

 }
 .replay_btn, .like_btn{
  path{
    fill: #7a7a7a;
  }
 }

}