.related_videos {
  width: 100%;
  height: 100vh;
  padding: 40px 0;
  .title {
    color: #fff;

    /* Poppins/28/Medium */
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 36px; /* 128.571% */
  }
}
.related__items{
  max-height: 100vh;
  overflow: auto;
}
.videos__slider{
  display: none;
}
.empty__related{

    color: var(--textColor);
  font-size: 16px;
  text-align: center;
  background: var(--primaryColor);
  padding: 10px;
  border-radius: 16px;
}
@media(max-width: 950px){
  .related__items{
    display: none;
  }
  .videos__slider{
    display: block;

  }
}
@media(max-width:576px){
  .related_videos{
    .title{
      font-size: 18px;
    }
  }
}