.related_videos {
  width: 100%;
  height: auto;
  padding: 40px 0;
  h1 {
    color: #fff;

    /* Poppins/28/Medium */
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 128.571% */
  }
}
