.related_videos {
  width: 100%;
  height: auto;
  padding: 40px 0;
  .title {
    color: #fff;

    /* Poppins/28/Medium */
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 36px; /* 128.571% */
  }
}
@media(max-width:576px){
  .related_videos{
    .title{
      font-size: 18px;
    }
  }
}