.chanel__chat{
    .ant-modal-content{
        overflow: auto; 
    }
    .chat_messages{
        padding: 15px;
        overflow: auto;
        max-height: 300px;
    }
    .chat_messages_header{
        padding: 15px 10px;
        h2{
            font-size: clamp(16px, 3vw, 18px);
            text-align: left;
        }
    }
}
.main_section {
    width: 100%;
    height: auto;

    padding: 40px 10px 10px 10px;

    .chanell__tools{
        display: flex;
        align-items: center;
        .write__message{
            background: none;
            border: 0;
            outline: 0;
            margin: 0 20px 0 0;
            border-radius: 50%;
            padding: 8px;
            transition: all .4s ease-in-out;
            &:hover{
                box-shadow: 0 0 8px 3px #0385CA;
            }
        }
    }
    
    .chanels_bg_image {
        background-image: url("https://bivisi-media.s3.amazonaws.com/Accounts/Cover-images/dYWElM4.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIATCKAOUIJN6CUS7GS%2F20240615%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20240615T095246Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=d0aa16860d9ddcb3326e543c5818c52ba91c4b6be7bcdeddbdde65319927c34d");
        width: 100%;
        height: 30vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 24px;
    }

    .channels_info {
        width: 100%;
        height: 23vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 50px;


        .chanells_img_content {
            
            // background-image: url("https://bivisi-media.s3.amazonaws.com/Accounts/Cover-images/dYWElM4.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIATCKAOUIJN6CUS7GS%2F20240615%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20240615T095246Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=d0aa16860d9ddcb3326e543c5818c52ba91c4b6be7bcdeddbdde65319927c34d");
            width: 200px;
            height: 200px;
            transform: translateY(-80px);
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 20px;
        }

        .channels_text_content {
            display: flex;
            align-items: center;

            h4 {
                color: var(--Neutral-White, #FFF);
                font-size: 17px;
                font-style: normal;
                font-weight: 400;

            }

            p {
                color: var(--Text-5, #979EAF);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;

                span {
                    color: var(--Neutral-White, #FFF);

                    /* Poppins/18/Medium */
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    /* 144.444% */
                }
            }
        }

        .subs_btn {
            button {
                display: flex;
                padding: 12px 24px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 16px;
                background: var(--blue-blue-500, #0385CA);
                border: none;
                color: #F6F3F4;

                /* Poppins/16/SemiBold */
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
                &.unsubs-button {
                    background-color: transparent;
                    border: 1px solid var(--Text-11, #23272E);
                    color: var(--Text-4, #A2A8B7);
                  }
            }
        }
        
    }

}

@media(max-width:768px){
   
    .main_section {
        padding-top: 10px;

        .channels_info {

            .subs_btn {
                button{
                    font-size: 15px;
                    padding: 10px 20px;
                }
            }
            .chanells_img_content{
                width: 150px;
                height: 150px;
            }
        }
    }
}
@media(max-width:576px){

    .main_section {

        .channels_info {
            height: auto;
            align-items: flex-start;
            justify-content: flex-start;
            padding-left: 10px;
            flex-direction: column;
            .channels_text_content{
                width: 100%;
                height: auto;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                h4{
                    font-size: 15px;
                    margin-bottom: 4px;
                }
                p{
                    font-size: 13px;
                }
            }
            .subs_btn {
                button{
                    font-size: 15px;
                    padding: 10px 20px;
                }
            }
            .chanells_img_content{
                width: 120px;
                height: 120px;
                transform: translate(0);
                margin: -80px 0 20px 0;
            }
        }
    }
}
